.logo {
  display: inline-block;
  background: url(../../images/logo.svg);
  width: 142px;
  height: 46px;
}

.projects {
  display: inline-block;
  background: url(../../images/projects.svg);
  width: 243px;
  height: 109px;
}

.experience {
  display: inline-block;
  background: url(../../images/experience.svg);
  width: 211px;
  height: 107px;
}

.specialists {
  display: inline-block;
  background: url(../../images/specialists.svg);
  width: 162px;
  height: 109px;
}

.clients {
  display: inline-block;
  background: url(../../images/clients.svg);
  width: 155px;
  height: 109px;
}

@media (min-width: 980px) and (max-width: 1259px) {
  .projects {
    display: inline-block;
    background: url(../../images/projectsmicro.svg);
    width: 130px;
    height: 58px;
  }
  .experience {
    display: inline-block;
    background: url(../../images/experiencemicro.svg);
    width: 113px;
    height: 57px;
  }
  .specialists {
    display: inline-block;
    background: url(../../images/specialistsmicro.svg);
    width: 87px;
    height: 58px;
  }
  .clients {
    display: inline-block;
    background: url(../../images/clientsmicro.svg);
    width: 83px;
    height: 58px;
  }
}
@media (min-width: 1260px) and (max-width: 1640px) {
  .projects {
    display: inline-block;
    background: url(../../images/projectsmini.svg);
    width: 182px;
    height: 82px;
  }
  .experience {
    display: inline-block;
    background: url(../../images/experiencemini.svg);
    width: 159px;
    height: 80px;
  }
  .specialists {
    display: inline-block;
    background: url(../../images/specialistsmini.svg);
    width: 122px;
    height: 82px;
  }
  .clients {
    display: inline-block;
    background: url(../../images/clientsmini.svg);
    width: 116px;
    height: 82px;
  }
}
@media (max-width: 1440px) {
  .portfolio1 {
    display: inline-block;
    background: url(../../images/portfolio1.svg);
    width: 100% !important;
    height: 360px !important;
  }
  .portfolio2 {
    display: inline-block;
    background: url(../../images/portfolio2.svg);
    width: 100% !important;
    height: 360px !important;
  }
  .earth {
    display: inline-block !important;
    background: url(../../images/earthmini.svg) !important;
    width: 133px !important;
    height: 132px !important;
  }
  .photo1 {
    display: inline-block;
    background: url(../../images/photo1.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo2 {
    display: inline-block;
    background: url(../../images/photo2.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo3 {
    display: inline-block;
    background: url(../../images/photo3.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo4 {
    display: inline-block;
    background: url(../../images/photo4.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo5 {
    display: inline-block;
    background: url(../../images/photo5.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo6 {
    display: inline-block;
    background: url(../../images/photo6.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo7 {
    display: inline-block;
    background: url(../../images/photo7.png);
    width: 132px !important;
    height: 132px !important;
  }
  .react {
    display: inline-block;
    background: url(../../images/reactmini.svg) !important;
    width: 63px !important;
    height: 56px !important;
  }
  .php {
    display: inline-block;
    background: url(../../images/phpmini.svg) !important;
    width: 76px !important;
    height: 57px !important;
  }
  .c {
    display: inline-block;
    background: url(../../images/cmini.svg) !important;
    width: 75px !important;
    height: 57px !important;
  }
  .java {
    display: inline-block;
    background: url(../../images/javamini.svg) !important;
    width: 76px !important;
    height: 57px !important;
  }
  .javascript {
    display: inline-block;
    background: url(../../images/javascript.svg) !important;
    width: 75px !important;
    height: 56px !important;
  }
  .vue {
    display: inline-block;
    background: url(../../images/vuemini.svg) !important;
    width: 75px !important;
    height: 56px !important;
  }
  .kotlin {
    display: inline-block;
    background: url(../../images/kotlinmini.svg) !important;
    width: 75px !important;
    height: 56px !important;
  }
  .swift {
    display: inline-block;
    background: url(../../images/swiftmini.svg) !important;
    width: 75px !important;
    height: 56px !important;
  }
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .photo1 {
    display: inline-block;
    background: url(../../images/photo1.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo2 {
    display: inline-block;
    background: url(../../images/photo2.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo3 {
    display: inline-block;
    background: url(../../images/photo3.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo4 {
    display: inline-block;
    background: url(../../images/photo4.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo5 {
    display: inline-block;
    background: url(../../images/photo5.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo6 {
    display: inline-block;
    background: url(../../images/photo6.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo7 {
    display: inline-block;
    background: url(../../images/photo7.png);
    width: 132px !important;
    height: 132px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .photo1 {
    display: inline-block;
    background: url(../../images/photo1.png);
    width: 94px !important;
    height: 94px !important;
  }
  .photo2 {
    display: inline-block;
    background: url(../../images/photo2.png);
    width: 94px !important;
    height: 94px !important;
  }
  .photo3 {
    display: inline-block;
    background: url(../../images/photo3.png);
    width: 94px !important;
    height: 94px !important;
  }
  .photo4 {
    display: inline-block;
    background: url(../../images/photo4.png);
    width: 94px !important;
    height: 94px !important;
  }
  .photo5 {
    display: inline-block;
    background: url(../../images/photo5.png);
    width: 94px !important;
    height: 94px !important;
  }
  .photo6 {
    display: inline-block;
    background: url(../../images/photo6.png);
    width: 94px !important;
    height: 94px !important;
  }
  .photo7 {
    display: inline-block;
    background: url(../../images/photo7.png);
    width: 94px !important;
    height: 94px !important;
  }
}
.vector {
  display: inline-block;
  background: url(../../images/vector.svg);
  width: 10px;
  height: 10px;
}

.vector-line {
  display: inline-block;
  background: url(../../images/vector-line.svg);
  width: 16px;
  height: 16px;
}

.financeBaking {
  display: inline-block;
  background: url(../../images/financeBaking.svg);
  width: 84px;
  height: 58px;
}

.education {
  display: inline-block;
  background: url(../../images/education.svg);
  width: 74px;
  height: 74px;
}

.health {
  display: inline-block;
  background: url(../../images/health.svg);
  width: 80px;
  height: 72px;
}

.restaurants {
  display: inline-block;
  background: url(../../images/restaurants.svg);
  width: 100px;
  height: 100px;
}

.entertrainment {
  display: inline-block;
  background: url(../../images/entertrainment.svg);
  width: 100px;
  height: 100px;
}

.tnc {
  display: inline-block;
  background: url(../../images/tnc.svg);
  width: 100px;
  height: 100px;
}

.retail {
  display: inline-block;
  background: url(../../images/retail.svg);
  width: 100px;
  height: 100px;
}

.gov {
  display: inline-block;
  background: url(../../images/gov.svg);
  width: 100px;
  height: 100px;
}

.react {
  display: inline-block;
  background: url(../../images/react.svg);
  width: 84px;
  height: 73px;
}

.php {
  display: inline-block;
  background: url(../../images/php.svg);
  width: 100px;
  height: 75px;
}

.c {
  display: inline-block;
  background: url(../../images/c.svg);
  width: 100px;
  height: 75px;
}

.java {
  display: inline-block;
  background: url(../../images/java.svg);
  width: 100px;
  height: 75px;
}

.javascript {
  display: inline-block;
  background: url(../../images/javascript.svg);
  width: 100px;
  height: 73px;
}

.vue {
  display: inline-block;
  background: url(../../images/vue.svg);
  width: 100px;
  height: 71px;
}

.kotlin {
  display: inline-block;
  background: url(../../images/kotlin.svg);
  width: 100px;
  height: 73px;
}

.swift {
  display: inline-block;
  background: url(../../images/swift.svg);
  width: 100px;
  height: 73px;
}

.earth {
  display: inline-block;
  background: url(../../images/earth.svg);
  width: 176px;
  height: 176px;
}

.photo1 {
  display: inline-block;
  background: url(../../images/photo1.png);
  width: 176px;
  height: 176px;
}

.photo2 {
  display: inline-block;
  background: url(../../images/photo2.png);
  width: 176px;
  height: 176px;
}

.photo3 {
  display: inline-block;
  background: url(../../images/photo3.png);
  width: 176px;
  height: 176px;
}

.photo4 {
  display: inline-block;
  background: url(../../images/photo4.png);
  width: 176px;
  height: 176px;
}

.photo5 {
  display: inline-block;
  background: url(../../images/photo5.png);
  width: 176px;
  height: 176px;
}

.photo6 {
  display: inline-block;
  background: url(../../images/photo6.png);
  width: 176px;
  height: 176px;
}

.photo7 {
  display: inline-block;
  background: url(../../images/photo7.png);
  width: 176px;
  height: 176px;
}

.photo_blog {
  display: inline-block;
  background: url(../../images/blog-picture.png);
  width: 176px;
  height: 176px;
}

.portfolio1 {
  display: inline-block;
  background: url(../../images/portfolio1.svg);
  width: 830px;
  height: 480px;
}

.portfolio2 {
  display: inline-block;
  background: url(../../images/portfolio2.svg);
  width: 830px;
  height: 480px;
}

.clutch {
  display: inline-block;
  background: url(../../images/clutch.svg);
  width: 271px;
  height: 56px;
}/*# sourceMappingURL=icons.css.map */