.logo {
  display: inline-block;
  background: url(../../images/logo.svg);
  width: 185px;
  height: 60px;
}

.vector_down {
  display: inline-block;
  background: url(../../images/vector_down.svg);
  width: 10px;
  height: 6px;
}

.projects {
  display: inline-block;
  background: url(../../images/projects.svg);
  width: 243px;
  height: 109px;
}

.experience {
  display: inline-block;
  background: url(../../images/experience.svg);
  width: 211px;
  height: 107px;
}

.specialists {
  display: inline-block;
  background: url(../../images/specialists.svg);
  width: 162px;
  height: 109px;
}

.clients {
  display: inline-block;
  background: url(../../images/clients.svg);
  width: 155px;
  height: 109px;
}

@media (min-width: 140px) and (max-width: 639px) {
  .bigearth {
    display: inline-block;
    background: url(../../images/bigearth373.svg) !important;
    width: 224px !important;
    height: 187px !important;
  }
}
@media (min-width: 640px) and (max-width: 767px) {
  .bigearth {
    display: inline-block;
    background: url(../../images/bigearth768.svg) !important;
    width: 410px !important;
    height: 184px !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .bigearth {
    display: inline-block;
    background: url(../../images/bigearth768.svg) !important;
    width: 410px !important;
    height: 184px !important;
  }
}
@media (min-width: 980px) and (max-width: 1259px) {
  .projects {
    display: inline-block;
    background: url(../../images/projectsmicro.svg);
    width: 130px;
    height: 58px;
  }
  .experience {
    display: inline-block;
    background: url(../../images/experiencemicro.svg);
    width: 113px;
    height: 57px;
  }
  .specialists {
    display: inline-block;
    background: url(../../images/specialistsmicro.svg);
    width: 87px;
    height: 58px;
  }
  .clients {
    display: inline-block;
    background: url(../../images/clientsmicro.svg);
    width: 83px;
    height: 58px;
  }
}
@media (min-width: 1260px) and (max-width: 1640px) {
  .projects {
    display: inline-block;
    background: url(../../images/projectsmini.svg);
    width: 182px;
    height: 82px;
  }
  .experience {
    display: inline-block;
    background: url(../../images/experiencemini.svg);
    width: 159px;
    height: 80px;
  }
  .specialists {
    display: inline-block;
    background: url(../../images/specialistsmini.svg);
    width: 122px;
    height: 82px;
  }
  .clients {
    display: inline-block;
    background: url(../../images/clientsmini.svg);
    width: 116px;
    height: 82px;
  }
}
@media (max-width: 373) {
  .earth {
    display: inline-block;
    background: url(../../images/earth373.svg) !important;
    width: 120px !important;
    height: 120px !important;
  }
  .projects {
    display: inline-block;
    background: url(../../images/projects373.svg);
    width: 162px;
    height: 73px;
  }
  .experience {
    display: inline-block;
    background: url(../../images/experience373.svg);
    width: 100px;
    height: 71px;
  }
  .specialists {
    display: inline-block;
    background: url(../../images/specialists373.svg);
    width: 100px;
    height: 71px;
  }
  .clients {
    display: inline-block;
    background: url(../../images/clients373.svg);
    width: 100px;
    height: 71px;
  }
  .financeBaking {
    display: inline-block;
    background: url(../../images/financeBaking373.svg);
    width: 84px;
    height: 58px;
  }
  .education {
    display: inline-block;
    background: url(../../images/education373.svg);
    width: 74px;
    height: 74px;
  }
}
@media (min-width: 374) and (max-width: 768px) {
  .earth {
    display: inline-block;
    background: url(../../images/earth768.svg) !important;
    width: 176px !important;
    height: 176px !important;
  }
}
@media (min-width: 769) and (max-width: 1024px) {
  .earth {
    display: inline-block;
    background: url(../../images/earth1024.svg) !important;
    width: 95px !important;
    height: 95px !important;
  }
}
@media (min-width: 1025) and (max-width: 1440px) {
  .earth {
    display: inline-block;
    background: url(../../images/earthmini.svg) !important;
    width: 132px !important;
    height: 132px !important;
  }
}
@media (max-width: 1440px) {
  .portfolio1 {
    display: inline-block;
    background: url(../../images/portfolio1.svg);
    width: 100% !important;
    height: 360px !important;
  }
  .portfolio2 {
    display: inline-block;
    background: url(../../images/portfolio2.svg);
    width: 100% !important;
    height: 360px !important;
  }
  .earth {
    display: inline-block;
    background: url(../../images/earthmini.svg) !important;
    width: 132px !important;
    height: 132px !important;
  }
  .photo1 {
    display: inline-block;
    background: url(../../images/photo1.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo2 {
    display: inline-block;
    background: url(../../images/photo2.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo3 {
    display: inline-block;
    background: url(../../images/photo3.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo4 {
    display: inline-block;
    background: url(../../images/photo4.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo5 {
    display: inline-block;
    background: url(../../images/photo5.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo6 {
    display: inline-block;
    background: url(../../images/photo6.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo7 {
    display: inline-block;
    background: url(../../images/photo7.png);
    width: 132px !important;
    height: 132px !important;
  }
  .react {
    display: inline-block;
    background: url(../../images/reactmini.svg) !important;
    width: 63px !important;
    height: 56px !important;
  }
  .php {
    display: inline-block;
    background: url(../../images/phpmini.svg) !important;
    width: 76px !important;
    height: 57px !important;
  }
  .c {
    display: inline-block;
    background: url(../../images/cmini.svg) !important;
    width: 75px !important;
    height: 57px !important;
  }
  .java {
    display: inline-block;
    background: url(../../images/javamini.svg) !important;
    width: 76px !important;
    height: 57px !important;
  }
  .javascript {
    display: inline-block;
    background: url(../../images/javascript.svg) !important;
    width: 75px !important;
    height: 56px !important;
  }
  .vue {
    display: inline-block;
    background: url(../../images/vuemini.svg) !important;
    width: 75px !important;
    height: 56px !important;
  }
  .kotlin {
    display: inline-block;
    background: url(../../images/kotlinmini.svg) !important;
    width: 75px !important;
    height: 56px !important;
  }
  .swift {
    display: inline-block;
    background: url(../../images/swiftmini.svg) !important;
    width: 75px !important;
    height: 56px !important;
  }
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .bigearth {
    display: inline-block;
    background: url(../../images/bigearth1440.svg) !important;
    width: 308px !important;
    height: 246px !important;
  }
  .photo1 {
    display: inline-block;
    background: url(../../images/photo1.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo2 {
    display: inline-block;
    background: url(../../images/photo2.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo3 {
    display: inline-block;
    background: url(../../images/photo3.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo4 {
    display: inline-block;
    background: url(../../images/photo4.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo5 {
    display: inline-block;
    background: url(../../images/photo5.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo6 {
    display: inline-block;
    background: url(../../images/photo6.png);
    width: 132px !important;
    height: 132px !important;
  }
  .photo7 {
    display: inline-block;
    background: url(../../images/photo7.png);
    width: 132px !important;
    height: 132px !important;
  }
}
@media (min-width: 830px) and (max-width: 1439px) {
  .bigearth {
    display: inline-block;
    background: url(../../images/bigearth1024.svg) !important;
    width: 220px !important;
    height: 175px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .photo1 {
    display: inline-block;
    background: url(../../images/photo1.png);
    width: 94px !important;
    height: 94px !important;
  }
  .photo2 {
    display: inline-block;
    background: url(../../images/photo2.png);
    width: 94px !important;
    height: 94px !important;
  }
  .photo3 {
    display: inline-block;
    background: url(../../images/photo3.png);
    width: 94px !important;
    height: 94px !important;
  }
  .photo4 {
    display: inline-block;
    background: url(../../images/photo4.png);
    width: 94px !important;
    height: 94px !important;
  }
  .photo5 {
    display: inline-block;
    background: url(../../images/photo5.png);
    width: 94px !important;
    height: 94px !important;
  }
  .photo6 {
    display: inline-block;
    background: url(../../images/photo6.png);
    width: 94px !important;
    height: 94px !important;
  }
  .photo7 {
    display: inline-block;
    background: url(../../images/photo7.png);
    width: 94px !important;
    height: 94px !important;
  }
}
.projectspng {
  position: relative;
  display: inline-block;
  background: url(../../images/projects.png);
  width: 705px;
  height: 480px;
  filter: grayscale(100%);
  transition: 0.5s;
  z-index: -1;
}

.contacts__map:hover .projectspng {
  filter: grayscale(0%);
  transition: 0.5s;
}

.vector {
  display: inline-block;
  background: url(../../images/vector.svg);
  width: 10px;
  height: 10px;
  -webkit-transition: all 0.3s linear;
}
.vector-line {
  display: inline-block;
  background: url(../../images/vector-line.svg);
  width: 16px;
  height: 16px;
  -webkit-transition: all 0.3s linear;
}

.financeBaking {
  display: inline-block;
  background: url(../../images//Finance&Baking.svg);
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.education {
  display: inline-block;
  background: url(../../images/education.svg);
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.health {
  display: inline-block;
  background: url(../../images/health.svg);
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.restaurants {
  display: inline-block;
  background: url(../../images/restaurants.svg);
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.entertrainment {
  display: inline-block;
  background: url(../../images/entertrainment.svg);
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.tnc {
  display: inline-block;
  background: url(../../images/tnc.svg);
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

/* .retail {
  display: inline-block;
  background: url(../../images/retail.svg);
  width: 100px;
  height: 100px;
  margin: 0 auto;
} */

.gov {
  display: inline-block;
  background: url(../../images/gov.svg);
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.scope_table_item .react, .scope_table_item .php, .scope_table_item .c, .scope_table_item .java, .scope_table_item .javascript, .scope_table_item .vue, .scope_table_item .kotlin{
  display: inline-block;
  /* width: 100px;
  height: 100px; */
  filter: grayscale(100%);
  transition: 0.5s;
  margin: 0 auto;
}

.scope_table_item .react{
  width: 84px;
  height: 73px;
}

.scope_table_item .php{
  width: 77px;
  height: 93px;
}

.scope_table_item .c{
  width: 67px;
  height: 75px;
}

.scope_table_item .java{
  width: 60px;
  height: 75px;
}

.scope_table_item .javascript{
  width: 100px;
  height: 73px;
}

.scope_table_item .vue{
  width: 90px;
  height: 71px;
}

.scope_table_item .kotlin{
  width: 73px;
  height: 73px;
}

.scope_table_item:hover .react, .scope_table_item:hover .php, .scope_table_item:hover .c, .scope_table_item:hover .java, .scope_table_item:hover .javascript, .scope_table_item:hover .vue, .scope_table_item:hover .kotlin{
  filter: grayscale(0%);
  transition: 0.5s;
}

.react {
  background: url(../../images/react.svg);
}

.php {
  background: url(../../images/php.svg);
}

.c {
  background: url(../../images/c.svg);
}

.java {
  background: url(../../images/java.svg);
}

.javascript {
  background: url(../../images/javascript.svg);
}

.vue {
  background: url(../../images/vue.svg);
}

.kotlin {
  background: url(../../images/kotlin.svg);
}

/* .swift {
  display: inline-block;
  background: url(../../images/swift.svg);
  width: 100px;
  height: 73px;
} */

.earth {
  display: inline-block;
  background: url(../../images/earth.svg);
  width: 176px;
  height: 176px;
}

.photo1 {
  display: inline-block;
  background: url(../../images/photo1.png);
  width: 176px;
  height: 176px;
}

.photo2 {
  display: inline-block;
  background: url(../../images/photo2.png);
  width: 176px;
  height: 176px;
}

.photo3 {
  display: inline-block;
  background: url(../../images/photo3.png);
  width: 176px;
  height: 176px;
}

.photo4 {
  display: inline-block;
  background: url(../../images/photo4.png);
  width: 176px;
  height: 176px;
}

.photo5 {
  display: inline-block;
  background: url(../../images/photo5.png);
  width: 176px;
  height: 176px;
}

.photo6 {
  display: inline-block;
  background: url(../../images/photo6.png);
  width: 176px;
  height: 176px;
}

.photo7 {
  display: inline-block;
  background: url(../../images/photo7.png);
  width: 176px;
  height: 176px;
}

@media (min-width: 1441px) and (max-width: 1920px) {
  .projectspng {
    position: relative;
    display: inline-block;
    background: url(../../images/projects.png);
    width: calc(529px + 176 * (100vw - 1440px) / 480);
    height: calc(425px + 55 * (100vw - 1440px) / 480);
    filter: grayscale(100%);
    z-index: -1;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .projectspng {
    position: relative;
    display: inline-block;
    background: url(../../images/projects.png);
    width: calc(377px + 152 * (100vw - 1024px) / 416);
    height: calc(302px + 123 * (100vw - 1024px) / 416);
    filter: grayscale(100%);
    z-index: -1;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .projectspng {
    position: relative;
    display: inline-block;
    background: url(../../images/projects.png);
    width: calc(377px + 0 * (100vw - 769px) / 255);
    height: calc(302px + 0 * (100vw - 769px) / 255);
    filter: grayscale(100%);
    z-index: -1;
  }
}
@media (min-width: 373px) and (max-width: 768px) {
  .projectspng {
    position: relative;
    display: inline-block;
    background: url(../../images/projects.png);
    width: calc(343px + 362 * (100vw - 373px) / 395);
    height: calc(320px + 58 * (100vw - 373px) / 395);
    filter: grayscale(100%);
    z-index: -1;
  }
}
.photo_blog {
  position: relative;
  display: inline-block;
  background: url(../../images/blog-picture.png);
  background-size: contain;
  width: 176px;
  height: 176px;
  z-index: -1;
  filter: grayscale(100%);
}

.portfolio1 {
  display: inline-block;
  background: url(../../images/portfolio1.svg);
  width: 830px;
  height: 480px;
}

.portfolio2 {
  display: inline-block;
  background: url(../../images/portfolio2.svg);
  width: 830px;
  height: 480px;
}

.clutch {
  display: inline-block;
  background: url(../../images/clutch.svg);
  width: 271px;
  height: 56px;
}

.bigearth {
  display: inline-block;
  background: url(../../images/bigearth1920.svg);
  width: 410px;
  height: 326px;
}/*# sourceMappingURL=icons.css.map */