@import url("./stylesheet.css");
body {
  font-family: "Manrope", sans-serif;
  line-height: 150%;
  margin: 0px;
  font-family: "Manrope";
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #E4E4E4;
  z-index: 2;
}
.header__nav {
  padding: 28px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav .header_logo {
  width: 20%;
}
.header__nav .header_nav_list {
  width: 60%;
  margin-left: 20%;
}
.header__nav .header_nav_list ul {
  margin: 0px;
  padding: 0px;
}
.header__nav .header_nav_list ul li {
  display: inline-block;
  padding-bottom: 20px;
  padding-top: -20px;
  font-weight: 400;
  color: #222222;
  font-size: 18px;
  line-height: 100%;
}
.header__nav .header_nav_list ul li:hover {
  -webkit-text-decoration: underline 2px #935CFF;
          text-decoration: underline 2px #935CFF;
  transition: 100ms;
}
.header__nav .header_nav_list ul li:last-child a {
  margin-right: 0px;
}
.header__nav .header_nav_list ul li a {
  text-decoration: none;
  margin-right: 60px;
  color: #222222;
  font-weight: 500;
}
.header__nav .header_nav_list ul li a:hover {
  cursor: pointer;
}
.header__nav .header_phone {
  width: 20%;
}
.header__nav .header_phone a {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #222222;
  text-decoration: none;
}

.burger {
  width: 36px;
  height: 2px;
  background: #1A1B1F;
  border-radius: 20%;
  position: relative;
  top: -3px;
}
.burger:hover {
  cursor: pointer;
}
.burger:after {
  display: inline-block;
  content: "";
  width: 36px;
  height: 2px;
  background: #1A1B1F;
  border-radius: 20%;
  position: relative;
  top: -51px;
}
.burger:before {
  display: inline-block;
  content: "";
  width: 36px;
  height: 2px;
  background: #1A1B1F;
  border-radius: 20%;
  position: relative;
  top: -5px;
}

.container {
  margin: 0px auto;
  padding: 0px 120px;
}

.black-container {
  background: #111;
  height: 480px;
  margin-top: 81px;
}

.containerForm {
  margin: 0px auto;
  padding: 0px 120px;
}

.dropdown_services_sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}
.dropdown_services_sticky .dropdown_services {
  display: flex;
  position: absolute;
  left: 16.5%;
}
.dropdown_services_sticky .dropdown_services__title {
  font-family: "Acrom";
  font-weight: 500;
  font-size: 30px;
  line-height: 115%;
  color: #FFFFFF;
  background: #9C7CF1;
  padding: 60px 170px 0px 60px;
  border-radius: 0px;
}
.dropdown_services_sticky .dropdown_services__info {
  background: #fff;
  padding: 60px 219px 125px 100px;
  border-radius: 0px;
}
.dropdown_services_sticky .dropdown_services__info ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 57px;
  margin: 0px;
  padding: 0px;
}
.dropdown_services_sticky .dropdown_services__info ul li:not(:last-child) {
  margin-bottom: 16px;
}
.dropdown_services_sticky .dropdown_services__info ul li a {
  font-family: "Acrom";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1A1B1F;
  text-decoration: none;
}
.dropdown_services_sticky .dropdown_services__info ul li a:hover {
  color: #9C7CF1;
}

.margin_bottom_300 {
  margin-bottom: 300px;
}

.title_96 {
  font-weight: 500;
  font-size: 96px;
  line-height: 110%;
  text-transform: uppercase;
  color: #222222;
}

.about_company__title {
  width: 100%;
}
.about_company__description {
  width: 100%;
  margin-bottom: 80px;
  margin-top: 32px;
}
.about_company__description .description {
  margin-left: 25%;
  margin-right: 25%;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #4B4B4B;
  text-indent: 50px;
}
.about_company__table {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2px;
}
.about_company__table .about_company_table_item {
  border-right: 2px solid #B3B3B3;
}
.about_company__table .about_company_table_item:last-child {
  border-right: 0px;
}
.about_company__table .about_company_table_item span {
  margin-left: 25%;
}
.about_company__table .about_company_table_item p {
  text-align: center;
  color: #222222;
}

.services {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.services__title {
  width: 100%;
}
.services__title .description {
  margin-top: 32px;
  position: absolute;
  width: 30%;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #4B4B4B;
  text-indent: 50px;
}
.services__context {
  display: flex;
  justify-content: flex-end;
}
.services__context ul {
  margin: 0;
  padding: 0;
}
.services__context ul li {
  list-style-type: none;
  margin-bottom: 56px;
}
.services__context ul li .services_context {
  border-bottom: 6px solid #AE83E4;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding-bottom: 8px;
}
.services__context ul li .services_context .services_context_link {
  font-weight: 500;
  font-size: 46px;
  line-height: 100%;
  color: #222222;
  text-decoration: none;
}

.hero {
  margin-top: 68px;
}
.hero__title {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  grid-column-gap: 1%;
  grid-row-gap: 0.5%;
}
.hero__title .title {
  height: 132px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 120px;
  line-height: 110%;
  color: #222222;
}
.hero__title .subtitle {
  display: flex;
  align-items: flex-end;
  width: 90%;
  text-indent: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #4B4B4B;
}
.hero__title_second_part {
  display: grid;
  grid-template-columns: 2fr;
}
.hero__title_second_part .title_second {
  height: 132px;
  margin-left: 25%;
  font-weight: 500;
  font-size: 120px;
  line-height: 110%;
  text-transform: uppercase;
  color: #222222;
}
.hero__butn {
  display: flex;
}
.hero__butn .button_purple {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 31px 64px 32px;
  font-size: 18px;
  width: 232px;
  height: 82px;
  margin-left: 75%;
  color: #ffffff;
  background: #AE83E4;
  -webkit-transition: all 0.3s linear;
}
.hero__butn .button_purple:hover {
  color: #ffffff;
  background: #1A1B1F;
  -webkit-transition: all 0.3s linear;
  cursor: pointer;
}
.hero__butntag .button_item_tag {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #222222;
  font-family: "Manrope";
  margin: 0.4rem;
}
.hero__butntag .button_item_tag:hover {
  cursor: pointer;
}
.hero__butntag .button_item_tag span {
  margin-left: 14px;
}
.hero__butntag .button_item_tag .not_visible {
  visibility: hidden;
}

.purple_form {
  background: #AE83E4;
}
.purple_form span {
  margin-left: 1218px;
  margin-top: -100%;
}
.purple_form__title .purple_form_title {
  font-weight: 500;
  font-size: 64px;
  line-height: 105%;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-left: 64px;
  padding-top: 120px;
  padding-bottom: 32px;
}
.purple_form__description {
  margin-left: 422px;
  padding-bottom: 46px;
  width: 50%;
}
.purple_form__description .purple_form_description {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-indent: 50px;
  color: #FFFFFF;
}
.purple_form__button {
  margin-left: 50%;
  padding-bottom: 121px;
}
.purple_form__button .white-button {
  display: flex;
  width: 232px;
  text-transform: uppercase;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 31px 64px 32px;
  gap: 10px;
  background: #FFFFFF;
  -webkit-transition: all 0.3s linear;
}
.purple_form__button .white-button:hover {
  cursor: pointer;
  color: #FFFFFF;
  background: #222222;
  -webkit-transition: all 0.3s linear;
}

.scope__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.scope__title .title {
  height: 132px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 120px;
  line-height: 110%;
  color: #222222;
}
.scope__title .show_all {
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  font-size: 18px;
  line-height: 105%;
  text-transform: uppercase;
  color: #222222;
  padding-bottom: 4px;
  -webkit-transition: all 0.3s linear;
}
.scope__title .show_all span {
  margin-left: 15px;
}
.scope__title .show_all:hover {
  cursor: pointer;
  color: #AE83E4;
  text-decoration: underline;
  -webkit-transition: all 0.3s linear;
}
.scope__description {
  width: 100%;
  margin-bottom: 80px;
  margin-top: 32px;
}
.scope__description .description {
  margin-left: 25%;
  margin-right: 25%;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #4B4B4B;
  text-indent: 50px;
}
.scope__table {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2px;
}
.scope__table .scope_table_item {
  border-right: 2px solid #B3B3B3;
  border-bottom: 2px solid #B3B3B3;
}
.scope__table .scope_table_item:nth-child(4) {
  border-right: 0px;
}
.scope__table .scope_table_item:nth-child(5) {
  border-bottom: 0px;
}
.scope__table .scope_table_item:nth-child(6) {
  border-bottom: 0px;
}
.scope__table .scope_table_item:nth-child(7) {
  border-bottom: 0px;
}
.scope__table .scope_table_item:nth-child(8) {
  border-bottom: 0px;
}
.scope__table .scope_table_item:last-child {
  border-right: 0px;
}
.scope__table .scope_table_item span {
  margin-left: 25%;
}
.scope__table .scope_table_item p {
  text-align: center;
  color: #222222;
}

.portfolios__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.portfolios__title .portfolios_title {
  height: 132px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 120px;
  line-height: 110%;
  color: #222222;
}
.portfolios__title .portfolios_show_all {
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  font-size: 18px;
  line-height: 105%;
  text-transform: uppercase;
  color: #222222;
  padding-bottom: 4px;
  -webkit-transition: all 0.3s linear;
}
.portfolios__title .portfolios_show_all span {
  margin-left: 15px;
}
.portfolios__title .portfolios_show_all:hover {
  cursor: pointer;
  color: #AE83E4;
  text-decoration: underline;
  -webkit-transition: all 0.3s linear;
}
.portfolios__short_disciption {
  width: 48%;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.portfolios__short_disciption .short_disciption {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #222222;
}
.portfolios__description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 80px;
  width: 100%;
}
.portfolios__description .portfolios_description {
  display: flex;
  align-items: flex-end;
  color: #222222;
  justify-content: space-between;
  -moz-column-gap: 4%;
       column-gap: 4%;
  width: 100%;
  margin-bottom: 25px;
  text-decoration: none;
}
.portfolios__description .portfolios_description .portfolios_description_title {
  width: 48%;
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
}
.portfolios__description .portfolios_description .portfolios_description_title p {
  margin-top: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
.portfolios__description .portfolios_description .portfolios_description_img {
  width: 48%;
  display: flex;
  justify-content: flex-end;
}

.contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8%;
}
.contacts__map {
  width: 42%;
}
.contacts__map span {
  margin-top: -88px;
  margin-left: 443px;
}
.contacts__context {
  width: 50%;
}
.contacts__context .context_description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contacts__context .context_description .contacts_description_title {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 32px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 96px;
  line-height: 110%;
  color: #222222;
}
.contacts__context .context_description .contacts_description_content {
  width: 100%;
  text-indent: 50px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #4B4B4B;
}

.team__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.team__title .team_title {
  height: 132px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 120px;
  line-height: 110%;
  color: #222222;
}
.team__title .team_show_all {
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  font-size: 18px;
  line-height: 105%;
  text-transform: uppercase;
  color: #222222;
  padding-bottom: 4px;
  -webkit-transition: all 0.3s linear;
}
.team__title .team_show_all span {
  margin-left: 15px;
}
.team__title .team_show_all:hover {
  cursor: pointer;
  color: #AE83E4;
  text-decoration: underline;
  -webkit-transition: all 0.3s linear;
}
.team__description {
  width: 100%;
  margin-bottom: 80px;
  margin-top: 32px;
}
.team__description .team_description {
  margin-left: 25%;
  margin-right: 25%;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #4B4B4B;
  text-indent: 50px;
}
.team__table {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 2px;
}
.team__table .team_table_item {
  margin-bottom: 40px;
}
.team__table .team_table_item span {
  align-content: center;
}
.team__table .team_table_item a {
  font-weight: 500;
  font-size: 46px;
  line-height: 100%;
  color: #222222;
}
.team__table .team_table_item a .custom {
  border-radius: 50%;
  border: 1px solid;
  width: 176px;
  height: 176px;
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
  text-align: center;
  -webkit-transition: all 0.3s linear;
}
.team__table .team_table_item a .custom .custom-text {
  margin-top: 35%;
}
.team__table .team_table_item a .custom :hover {
  border-radius: 50%;
  cursor: pointer;
}
.team__table .team_table_item a :hover {
  background: #222222;
  color: #FFFFFF;
  -webkit-transition: all 0.3s linear;
  cursor: pointer;
}
.team__table .team_table_item :hover {
  cursor: pointer;
}

.swiper .swiper-slide {
  width: 547px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.blog__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 32px;
}
.blog__title .blog_title {
  height: 132px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 120px;
  line-height: 110%;
  color: #222222;
}
.blog__title .blog_show_all {
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  font-size: 18px;
  line-height: 105%;
  text-transform: uppercase;
  color: #222222;
  padding-bottom: 4px;
  -webkit-transition: all 0.3s linear;
}
.blog__title .blog_show_all span {
  margin-left: 15px;
}
.blog__title .blog_show_all:hover {
  cursor: pointer;
  color: #AE83E4;
  text-decoration: underline;
  -webkit-transition: all 0.3s linear;
}
.blog__products {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 19px;
       column-gap: 19px;
}
.blog__products .blog_products_block {
  width: 100%;
}
.blog__products .blog_products_block .blog_products_block_pic {
  width: 547px;
  height: 480px;
}
.blog__products .blog_products_block .blog_products_block_pic img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 547px;
  height: 480px;
}
.blog__products .blog_products_block .blog_products_block_list .hash_list_block:first-child {
  margin-right: 10px;
}
.blog__products .blog_products_block .blog_products_block_list .blog_products_block_list_date {
  color: #4B4B4B;
  font-weight: 400;
  font-size: 16px;
  line-height: 105%;
}
.blog__products .blog_products_block .blog_products_block_title {
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  color: #222222;
  margin-bottom: 16px;
  margin-top: 24px;
}

.discuss {
  display: flex;
  justify-content: center;
}
.discuss .discuss_text {
  color: #222222;
  font-weight: 500;
  font-size: 120px;
  line-height: 110%;
  text-align: center;
}
.discuss .discuss_text .discuss_underline {
  margin-top: 24px;
  width: 100%;
  height: 8px;
  background: #AE83E4;
}
.discuss :hover {
  cursor: pointer;
}

.modal {
  height: 100%;
  color: #FFFFFF;
  width: 100vw;
  background-color: #222222;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.modal__content {
  background: #222222;
}
.modal__content .form {
  width: 728px;
}
.modal__content .form__block {
  width: 100%;
  /*.form_block_modal_button {
      display: absolute;
      left: 90%;
      top: 81.5px;
      width: 34px;
      height: 2px;
      background: #FFFFFF;

      transform: rotate(45deg);
      margin-top: 12px;

      &:hover {
          cursor: pointer;
      }

      &::after {
          content: '';
          display: inline-block;
          width: 34px;
          height: 2px;
          background: #FFFFFF;

          transform: rotate(90deg);
          position: relative;
          top: -15px;
      }
  }*/
}
.modal__content .form__block .form_block_text {
  font-size: 16px;
}
.modal__content .form__block:first-child {
  margin-top: 40px;
}
.modal .form_block_modal_button {
  position: absolute;
  left: 90%;
  top: 81.5px;
  width: 34px;
  height: 2px;
  background: #FFFFFF;
  transform: rotate(45deg);
  margin-top: 12px;
}
.modal .form_block_modal_button:hover {
  cursor: pointer;
}
.modal .form_block_modal_button::after {
  content: "";
  display: inline-block;
  width: 34px;
  height: 2px;
  background: #FFFFFF;
  transform: rotate(90deg);
  position: relative;
  top: -15px;
}

.form {
  background: #222222;
  padding: 98px 125px 98px 98px;
  display: grid;
  grid-template-columns: 2fr;
  background-position: 110px 165px;
}
.form__block {
  color: #FFFFFF;
  width: 728px;
}
.form__block .form_block_title {
  width: 100%;
  color: #FFFFFF;
  margin-bottom: 88px;
  font-weight: 500;
  font-size: 64px;
  line-height: 105%;
}
.form__block .form_block_info {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin: 38px 0px 15px 0px;
  max-width: 507px;
}
.form__block .form_block_text {
  display: flex;
  align-items: center;
}
.form__block .form_block_text b {
  font-weight: 400;
}
.form__block .form_block_text i {
  display: none;
}
.form__block .form_block_text p {
  font-size: 18px;
}
.form__block .form_block_text .form_block_gif {
  margin-left: 9px;
}
.form__block .form_block_text .form_block_gif img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.form__block .form_block_text .form_block_gif img:not(:first-child) {
  margin-left: -10px;
}
.form__block .form_block_email a {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  text-decoration: none;
  color: #FFFFFF;
}
.form__block p {
  margin: 0px;
}
.form__block .form_block_wrapper form {
  padding-top: 40px;
}
.form__block .form_block_wrapper form .form_line-wrapper {
  position: relative;
}
.form__block .form_block_wrapper form .form_line-wrapper:first-child {
  margin-bottom: 109px;
}
.form__block .form_block_wrapper form .form_line-wrapper:nth-child(2) {
  margin-bottom: 109px;
}
.form__block .form_block_wrapper form .form_line-wrapper input {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  border: 0px;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding-bottom: 10px;
}
.form__block .form_block_wrapper form .form_line-wrapper .input_invalid {
  border-bottom: 1px solid #e11d48;
  color: #e11d48;
}
.form__block .form_block_wrapper form .form_line-wrapper label {
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: -30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.form__block .form_block_wrapper form .form_line-wrapper .label_invalid {
  color: #e11d48;
}
.form__block .form_block_wrapper form .form_line-wrapper input:focus ~ label,
.form__block .form_block_wrapper form .form_line-wrapper input:valid ~ label {
  top: -35x;
}
.form__block .form_block_wrapper form .form_block_send {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__block .form_block_wrapper form .form_block_send p {
  font-size: 16px;
  line-height: 150%;
  max-width: 347.15px;
  font-weight: 400;
  margin: 0px;
}
.form__block .form_block_wrapper form .form_block_send .button_black {
  background: #B3B3B3;
  padding: 31px 64px 32px;
  gap: 10px;
  width: 234.45px;
  height: 82px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 105%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.form__block .form_block_wrapper form .form_block_send .button_black:hover {
  cursor: pointer;
}

.thanks_form {
  padding: 0px;
}
.thanks_form .thanks_form_block .form_block_wrapper form {
  padding-top: 0px;
}
.thanks_form .thanks_form_block .form_block_title {
  margin-bottom: 36px;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 68px;
  font-size: 18px;
}
.footer__footer_logo {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__footer_logo .footer_logo {
  width: 100%;
  margin-bottom: 46px;
}
.footer__footer_menu {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer__footer_menu .table_menu {
  width: 33%;
}
.footer__footer_menu .table_menu .table_menu_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  display: flex;
  align-items: flex-end;
  color: #222222;
  margin-bottom: 24px;
}
.footer__footer_menu .table_menu .table_menu_item {
  font-weight: 400;
  font-size: 16px;
  line-height: 105%;
  display: flex;
  align-items: flex-end;
  color: #4B4B4B;
  margin-bottom: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.footer__footer_second_line {
  width: 100%;
}
.footer__footer_second_line .social {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.footer__footer_second_line .social .social_item {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  display: flex;
  align-items: flex-end;
  color: #222222;
}
.footer__copyright {
  margin-top: 40px;
  margin-bottom: 172px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 105%;
  color: #4B4B4B;
}
.footer__copyright .copyright_start {
  width: 50%;
  display: flex;
  align-items: flex-start;
}
.footer__copyright .copyright_end {
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}/*# sourceMappingURL=main.css.map */