@media (min-width: 374px) and (max-width: 767px) {
    .hero {
        &__subtitle{
            .subtitle {
                font-size: 14px;
                margin-bottom: 16px !important;
            }
        }
        &__title {
            .title {
                height: 60px !important;
                font-size: 54px !important;
            }
        }
        &__title_second_part {
            width: 100%;
            display: grid;
            grid-template-columns: 2fr;
            margin-left: 25%;
            margin-bottom: 40px;
            .title_second {
                height: 60px !important;
                font-size: 54px !important;
            }
        }   
        &__butn {
            display: flex;
            .button_purple {
                margin-left: 50% !important;
            }
        }
    }

    .purple_form {
        span {
            margin-left: calc(119px + (180 - 119) * ((100vw - 373px) / (768 - 373)));
            margin-top: -100%;
        }
        background: #AE83E4;
        &__title {
            .purple_form_title {
                font-size: 56px;
                padding-left: 64px;
                padding-top: 80px;
                padding-bottom: 49px;
            }
        }
        &__description {
            margin-left: 118px;
            padding-bottom: 28px;
            width: 80%; 
            .purple_form_description{
                font-size: 16px;
                margin-right: 61px;
            }
        }
        &__button {
            margin-left: calc(10px + (354 - 10) * ((100vw - 373px) / (768 - 373)));
            padding-bottom: calc(58px + (186 - 58) * ((100vw - 373px) / (768 - 373))); 
            margin-left: 50%;
            padding-bottom: 0px;
            padding-bottom: 186px;
            .white-button {
                display: flex;
                width: 132px;
                font-size: 18px;
                padding: 32px 64px 32px;
                gap: 10px;
            }
        }
    }

    .container {
        padding-left: calc(16px + (40 - 16) * ((100vw - 373px) / (768 - 373)));
        padding-right: calc(16px + (40 - 16) * ((100vw - 373px) / (768 - 373)));
    }
    .containerForm {
        padding-left: calc(16px + (40 - 16) * ((100vw - 373px) / (768 - 373)));
    }
}

@media (max-width: 768px) {
    .margin_bottom_300 {
        margin-bottom: 165px;
    }
    .burger {
        display: inline-block;
    }

    .font_24 {
        font-size: 18px;
    }

    .black-container {
        background: #111;
        height: 240px;
        margin-top: 64px;
    }

    .title_96 {
        font-size: 72px;
    }

    .header {
        &__nav {
            .logo {
                width: 100px;
                height: 32px;
                background-size: cover;
            }
            .header_nav_list {
                display: none;
            }
            .header_phone {
                width: 30%;
                a {
                    font-size: 18px;
                }
            }
        }
    }

    .hero {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 68px;
        &__subtitle{
            width: 100%;
            display: grid;
            grid-template-columns: 2fr;
            grid-column-gap: 1%;
            grid-row-gap: 0.5%;
            .subtitle {
                text-indent: 50px;
                display: flex;
                align-items: flex-end;
                width: 100%;
                font-size: 16px;
                margin-bottom: 8px;
            }
        }
        &__title {
            width: 100%;
            grid-template-columns: 2fr;
            .title {
                width: 100%;
                height: 106px;
                font-size: 96px;
            }
            .subtitle {
                display: none;
                
            }
        }
        &__title_second_part {
            width: 100%;
            display: grid;
            grid-template-columns: 2fr;
            .title_second {
                white-space: nowrap;
                margin-left: 0px;
                width: 100%;
                height: 106px;
                font-size: 96px;
            }
        }
    
        &__butn {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            .button_purple {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 31px 64px 32px;
                gap: 10px;
                width: 232px;
                height: 82px;
                color: #ffffff;
                background: #AE83E4;
                -webkit-transition: all .3s linear;
                &:hover {
                    color: #ffffff;
                    background: #1A1B1F;
                    -webkit-transition: all .3s linear;
                    cursor: pointer;
                }
            }
        }
    }

    .portfolios {
        &__title {
            display:flex;
            justify-content: space-between;
            width: 100%;
            .portfolios_show_all {
                font-size: 18px;
                span {
                    margin-left: 21px;
                }
            }
        }
        &__short_disciption {
           display: none;
        }
        &__description {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 40px;
            width: 100%;
            .portfolios_description {  
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                column-gap: 0%;
                width: 100%;        
                margin-bottom: 40px;
                .portfolios_description_title {
                    margin-top: 29px;
                    width: 100%;
                    font-size: 32px;
                    margin-top: 16px;
                    p {
                        display: flex;
                        width: 100%;
                        margin-top: 16px;
                        font-size: 18px;
                    }
                }
                .portfolios_description_img {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }

    .services {
        display: grid;
        grid-template-columns: 2fr 2fr;
        &__title {
            width: 80%;
            .description {
                margin-top: 32px;
                position: absolute;
                width: 45%;
                font-size: 16px;
            }
        }
        &__context {
            display: flex;
            justify-content: flex-end;
            ul {
                li{
                    list-style-type: none;
                    margin-bottom: 56px;
                    .services_context {
                        border-bottom: 4px solid #AE83E4;
                        padding-bottom: 8px;
                        .services_context_link {
                            font-size: 32px;
                        }
                    }               
                }
            }
        }
    }

    .contacts {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 8%;
        &__map {
            width: 100%;
            height: 378px;
            span{
                margin-top: -15%;
                margin-left: 60%;
            }
        }
        &__context {
            width: 100%;
            .context_description {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .contacts_description_content {
                    margin-bottom: 16px;
                    margin-top: 0;
                    font-size: 16px;
                }
            }
        }
    }

    .team {
        &__title {
            display:flex;
            justify-content: space-between;
            width: 100%;

            .team_show_all {
                font-size: 16px;
                span {
                    margin-left: 12.7px;
                }
                &:hover {
                    cursor: pointer;
                    color: #AE83E4;
                    text-decoration: underline;
                    -webkit-transition: all .3s linear;
                }
            }
        }
        &__description {
            width: 100%;
            margin-bottom: 60px;
            margin-top: 24.5px;
            .team_description{
                font-size: 14px;
            }
        }
        &__table {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 2px;
            .team_table_item {
                margin-bottom: 40px;
                span {
                    align-content: center;
                }
                a {
                    font-weight: 500;
                    font-size: 34.5px;
                    line-height: 100%;
                    color: #222222;
                    .custom {
                        border-radius: 50%;
                        border: 1px solid;
                        width: 132px;
                        height: 132px;
                        clip-path: circle(100%);
                        text-align: center;
                        -webkit-transition: all .3s linear;
                        .custom-text {
                            margin-top: 35%;
                        }
                        :hover {
                            border-radius: 50%;
                            cursor: pointer;
                        }
                    }
                    :hover {
                        background: #222222;     
                        color:#FFFFFF;
                        -webkit-transition: all .3s linear;
                        cursor: pointer;
                    }
                }
                :hover {
                    cursor: pointer;
                }
            }
        }
    }

    .scope {
        &__title {
            .show_all {
                font-size: 16px;
                span {
                    margin-left: 12.7px;
                }

            }
        }
        &__description {
            width: 100%;
            margin-bottom: 60px;
            margin-top: 24.5px;
            .description{
                font-size: 16px;
            }
        }
        &__table {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 2px;
            .scope_table_item {
                border-right: 2px solid #B3B3B3;
                border-bottom: 0px;
                span {
                    margin-left: 25%;
                }
                p {
                    text-align: center;
                    color:#222222;
                }
            }
        }
    }

    .discuss {
        .discuss_text {
            font-size: 80px;
            .discuss_underline {
                margin-top: 24px;
                height: 8px;
            }
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &__footer_logo {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .footer_logo {
                width: 50%;
                margin-bottom: 40px;
            }
        }
        &__footer_menu {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .table_menu {
                width: 33%;
                .table_menu_title {
                    font-size: 20px;
                    margin-bottom: 18px;
                }
                .table_menu_item {
                    font-size: 16px;
                    margin-bottom: 18px;
                }
            }
        }
        &__footer_second_line {
            .social {
                width: 100%;
                .social_item {
                    font-size: 16px;
                }
            }
        }
        &__copyright {
            font-size: 14px;
        }
    }

    .swiper {
        .swiper-slide {
            width: 452px;
            height: max-content;
        }
    }

    .modal {
        height: 100%;
        color: #FFFFFF; 
        width: 100vw;
        background-color: #222222;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        // transform: scale(0);
        &__content {
            background: #222222;
            .form {
                //grid-template-columns: 605px 455px;
                //padding: 40px 40px 100px 80px;
                width: 728px;
                &__block {
                    width: 100%;
                    .form_block_text {
                        font-size: 16px;
                    }
                    /*.form_block_modal_button {
                        display: absolute;
                        left: 90%;
                        top: 81.5px;
                        width: 34px;
                        height: 2px;
                        background: #FFFFFF;
                        
                        transform: rotate(45deg);
                        margin-top: 12px;
    
                        &:hover {
                            cursor: pointer;
                        }
    
                        &::after {
                            content: '';
                            display: inline-block;
                            width: 34px;
                            height: 2px;
                            background: #FFFFFF;
                            
                            transform: rotate(90deg);
                            position: relative;
                            top: -15px;
                        }
                    }*/
    
                    &:first-child {
                        margin-top: 40px;
                    }
                }
            }
        }
        .form_block_modal_button {
            position: absolute;
            left: 90%;
            top: 81.5px;
            width: 34px;
            height: 2px;
            background: #FFFFFF;
            
            transform: rotate(45deg);
            margin-top: 12px;
    
            &:hover {
                cursor: pointer;
            }
    
            &::after {
                content: '';
                display: inline-block;
                width: 34px;
                height: 2px;
                background: #FFFFFF;
                
                transform: rotate(90deg);
                position: relative;
                top: -15px;
            }
        }
    }
    
    .form {
        background: #222222;
        padding: 98px 125px 98px 98px;
        display: grid;
        grid-template-columns: 2fr;
        background-position: 110px 165px;
        &__block {
            color: #FFFFFF;
            width: 728px;
    
            .form_block_title {
                width: 100%;
                color: #FFFFFF;
                margin-bottom: 88px;
                font-weight: 500;
                font-size: 64px;
                line-height: 105%;
            }
    
            .form_block_info {
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                margin: 38px 0px 15px 0px;
                max-width: 507px;
            }
    
            .form_block_text {
                display: flex;
                align-items: center;
                b{
                    font-weight: 400;
                }
                i{
                    display: none;
                }
                p{
                    font-size: 18px;
                }
    
                .form_block_gif {
                    margin-left: 9px;
    
                    img {
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 50%;
    
                        &:not(:first-child) {
                            margin-left: -10px;
                        }
                    }
    
                }
            }
            .form_block_email {
                a {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 100%;
                    text-decoration: none;
                    color: #FFFFFF;
                }
            }
            p {
                margin: 0px;
            }
            .form_block_wrapper {
                form {
                    padding-top: 40px;
    
                    .form_line-wrapper {
                        position: relative;
    
                        &:first-child {
                            margin-bottom: 109px;
                        }
    
                        &:nth-child(2) {
                            margin-bottom: 109px;
                        }
    
                        input {
                            color: #fff;
                            font-weight: 500;
                            font-size: 24px;
                            line-height: 120%;
                            border: 0px;
                            outline: none;
                            background-color: transparent;
                            border-bottom: 1px solid #fff;
                            width: 100%;
                            padding-bottom: 10px;
                        }
    
                        .input_invalid {
                            border-bottom: 1px solid #e11d48;
                            color: #e11d48;
                        }
                        label {
                            position: absolute;
                            pointer-events: none;
                            left: 5px;
                            top: -30px;
                            font-weight: 500;
                            font-size: 24px;
                            line-height: 120%;
                            transition: 0.2s ease all;
                            -moz-transition: 0.2s ease all;
                            -webkit-transition: 0.2s ease all;
                        }
                        .label_invalid {
                            color: #e11d48;
                        }
                        input:focus~label,
                        input:valid~label {
                            top: -35x;
                        }
                    }
    
                    .form_block_send {
                        margin-top: 64px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        p {
                            font-size: 16px;
                            line-height: 150%;
                            max-width: 347.15px;
                            font-weight: 400;
                            margin: 0px;
                        }
                        .button_black {
                            background: #B3B3B3;
                            padding: 31px 64px 32px;
                            gap: 10px;
                            width: 234.45px;
                            height: 82px;
                            font-family: 'Manrope';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 105%;
                            text-transform: uppercase;
                            color: #FFFFFF;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}