@media (max-width: 373px) {
  .container {
    margin: 0px auto;
    padding: 0px 16px;
  }
  .black-container {
    background: #111;
    height: 240px;
    margin-top: 64px;
  }
  .containerForm {
    margin: 0px auto;
    padding: 0px 16px;
  }
  .header__nav .logo {
    width: 100px;
    height: 32px;
    background-size: cover;
  }
  .header__nav .header_nav_list {
    display: none;
  }
  .header__nav .header_phone {
    display: none;
  }
  .hero {
    margin-top: 48px;
  }
  .hero__subtitle .subtitle {
    font-size: 14px;
    margin-right: 59px;
    margin-bottom: 16px !important;
  }
  .hero__title .title {
    height: 60px !important;
    font-size: 46px !important;
  }
  .hero__title_second_part {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr;
    margin-left: calc(0px + 130 * (100vw - 373px) / 395);
    margin-bottom: 40px;
  }
  .hero__title_second_part .title_second {
    height: 60px !important;
    font-size: 46px !important;
  }
  .hero__butn .button_purple {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 64px;
    gap: 10px;
    width: 343px;
    height: 65px;
    margin-left: 0;
  }
  .purple_form {
    background: #AE83E4;
  }
  .purple_form span {
    margin-left: calc(119px + 61 * (100vw - 373px) / 395);
    margin-top: -100%;
  }
  .purple_form__title .purple_form_title {
    font-size: calc(48px + 8 * (100vw - 373px) / 395);
    padding-left: 24px;
    padding-top: 56px;
    padding-bottom: 24px;
  }
  .purple_form__description {
    margin-left: 24px;
    margin-right: 20px;
    padding-bottom: 40px;
    width: 80%;
  }
  .purple_form__description .purple_form_description {
    font-size: 16px;
  }
  .purple_form__button {
    padding-bottom: 56px;
    margin-left: 0;
  }
  .purple_form__button .white-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 48px 24px;
    gap: 10px;
    width: calc(100px + 193 * (100vw - 140px) / 233);
    height: 65px;
    margin-left: 24px;
  }
  .title_96 {
    font-size: 46px;
  }
  .font_24 {
    font-size: 18px;
  }
  .margin_bottom_300 {
    margin-bottom: 88px;
  }
  .about_company__description {
    margin-bottom: 40px;
    margin-top: 24px;
  }
  .about_company__description .description {
    width: 100%;
    text-indent: 20px;
    margin-left: 0;
    font-size: 16px;
  }
  .about_company__table {
    display: none;
  }
  .services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .services__title {
    width: 100%;
  }
  .services__title .description {
    margin-top: 24px;
    width: 90%;
    font-size: 16px;
    text-indent: 20px;
  }
  .services__context {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
  }
  .services__context ul li {
    list-style-type: none;
    margin-bottom: 32px;
  }
  .services__context ul li .services_context {
    border-bottom: 4px solid #AE83E4;
    padding-bottom: 8px;
  }
  .services__context ul li .services_context .services_context_link {
    font-size: 32px;
  }
  .scope__title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .scope__title .show_all {
    width: 100%;
    font-size: 16px;
    margin-left: 40%;
  }
  .scope__title .show_all span {
    margin-left: 5.5px;
  }
  .scope__description {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 30.5px;
  }
  .scope__description .description {
    margin-left: 0;
    margin-right: 0;
    font-size: 16px;
    text-indent: 20px;
  }
  .scope__table {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1px;
  }
  .scope__table .scope_table_item {
    border-right: 1px solid #B3B3B3;
    border-bottom: 0px;
  }
  .scope__table .scope_table_item span {
    margin-left: 0%;
  }
  .scope__table .scope_table_item p {
    text-align: center;
    color: #222222;
  }
  .portfolios__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .portfolios__title .portfolios_show_all {
    display: none;
  }
  .portfolios__short_disciption {
    display: none;
  }
  .portfolios__description {
    margin-top: 32px;
  }
  .portfolios__description .portfolios_description {
    margin-bottom: 32px;
  }
  .portfolios__description .portfolios_description .portfolios_description_title {
    margin-top: calc(16px + 13 * (100vw - 373px) / 395);
    font-size: calc(20px + 12 * (100vw - 373px) / 395);
  }
  .portfolios__description .portfolios_description .portfolios_description_title p {
    margin-top: calc(16px + 2 * (100vw - 373px) / 395);
    font-size: 18px;
  }
  .portfolios__description .portfolios_description .portfolios_description_img {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8%;
  }
  .contacts__map {
    width: 100%;
    height: 378px;
  }
  .contacts__map span {
    margin-top: -15%;
    margin-left: 60%;
  }
  .contacts__context {
    width: 100%;
  }
  .contacts__context .context_description {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contacts__context .context_description .contacts_description_content {
    margin-bottom: 16px;
    margin-top: 0;
    font-size: 16px;
    text-indent: 20px;
  }
  .team__title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  .team__title .team_show_all {
    font-size: 16px;
    margin-left: 40%;
  }
  .team__title .team_show_all span {
    margin-left: 5.5px;
  }
  .team__title .team_show_all:hover {
    cursor: pointer;
    color: #AE83E4;
    text-decoration: underline;
    -webkit-transition: all 0.3s linear;
  }
  .team__description {
    width: 100%;
    margin-bottom: 60px;
    margin-top: 24px;
  }
  .team__description .team_description {
    margin-right: 0;
    margin-left: 0;
    font-size: 14px;
    text-indent: 20px;
  }
  .team__table {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2px;
  }
  .team__table .team_table_item {
    width: 96px;
    height: 96px;
    margin-bottom: 15px;
  }
  .team__table .team_table_item span {
    align-content: center;
  }
  .team__table .team_table_item a {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #222222;
  }
  .team__table .team_table_item a .custom {
    border-radius: 50%;
    border: 1px solid;
    width: 96px;
    height: 96px;
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
    text-align: center;
    -webkit-transition: all 0.3s linear;
  }
  .team__table .team_table_item a .custom .custom-text {
    margin-top: 35%;
  }
  .team__table .team_table_item a .custom :hover {
    border-radius: 50%;
    cursor: pointer;
  }
  .team__table .team_table_item a :hover {
    background: #222222;
    color: #FFFFFF;
    -webkit-transition: all 0.3s linear;
    cursor: pointer;
  }
  .team__table .team_table_item :hover {
    cursor: pointer;
  }
  .blog__title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 32px;
  }
  .blog__title .blog_show_all {
    margin-left: 40%;
    font-size: 13.5px;
  }
  .blog__products {
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  .blog__products .blog_products_block {
    width: 100%;
  }
  .blog__products .blog_products_block .blog_products_block_pic {
    width: 343px;
    height: 320px;
  }
  .blog__products .blog_products_block .blog_products_block_pic img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 343px;
    height: 320px;
  }
  .discuss .discuss_text {
    font-size: 56px;
  }
  .discuss .discuss_text .discuss_underline {
    margin-top: 16px;
    height: 8px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer__footer_logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer__footer_logo .footer_logo {
    width: 100%;
    margin-bottom: 32px;
  }
  .footer__footer_menu {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer__footer_menu .table_menu {
    width: 50%;
  }
  .footer__footer_menu .table_menu .table_menu_title {
    font-size: 18px;
    margin-bottom: 18px;
  }
  .footer__footer_menu .table_menu .table_menu_item {
    font-size: 16px;
    margin-bottom: 18px;
  }
  .footer__footer_menu .table_menu .table_menu_item:last-child {
    font-size: 19px;
  }
  .footer__footer_second_line {
    width: 100%;
  }
  .footer__footer_second_line .social {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer__footer_second_line .social .social_item {
    margin-bottom: 16px;
    margin-right: 16px;
    font-size: 18px;
  }
  .footer__copyright {
    margin-top: 16px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 16px;
  }
  .footer__copyright .copyright_start {
    width: 100%;
    margin-bottom: 16px;
  }
  .footer__copyright .copyright_end {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .swiper .swiper-slide {
    width: 343px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .modal {
    height: 100%;
    color: #FFFFFF;
    width: 100vw;
    background-color: #222222;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
  }
  .modal__content {
    background: #222222;
  }
  .modal__content .form {
    padding-top: 0;
    width: 90%;
  }
  .modal__content .form__block {
    width: 100%;
    /*.form_block_modal_button {
        display: absolute;
        left: 90%;
        top: 81.5px;
        width: 34px;
        height: 2px;
        background: #FFFFFF;

        transform: rotate(45deg);
        margin-top: 12px;

        &:hover {
            cursor: pointer;
        }

        &::after {
            content: '';
            display: inline-block;
            width: 34px;
            height: 2px;
            background: #FFFFFF;

            transform: rotate(90deg);
            position: relative;
            top: -15px;
        }
    }*/
  }
  .modal__content .form__block .form_block_text {
    font-size: 16px;
  }
  .modal__content .form__block:first-child {
    margin-top: 0px;
  }
  .modal .form_block_modal_button {
    position: absolute;
    left: 90%;
    top: 81.5px;
    width: 34px;
    height: 2px;
    background: #FFFFFF;
    transform: rotate(45deg);
    margin-top: 12px;
  }
  .modal .form_block_modal_button:hover {
    cursor: pointer;
  }
  .modal .form_block_modal_button::after {
    content: "";
    display: inline-block;
    width: 34px;
    height: 2px;
    background: #FFFFFF;
    transform: rotate(90deg);
    position: relative;
    top: -15px;
  }
  .form {
    background: #222222;
    padding: 98px 125px 98px 98px;
    display: grid;
    grid-template-columns: 2fr;
  }
  .form__block {
    color: #FFFFFF;
    width: 373px;
  }
  .form__block .form_block_title {
    width: 343px;
    height: 100px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 48px;
    font-size: 48px;
  }
  .form__block .form_block_info {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin: 38px 0px 15px 0px;
    max-width: 507px;
  }
  .form__block .form_block_text {
    display: flex;
    align-items: center;
  }
  .form__block .form_block_text b {
    font-weight: 400;
  }
  .form__block .form_block_text i {
    display: none;
  }
  .form__block .form_block_text p {
    font-size: 18px;
  }
  .form__block .form_block_text .form_block_gif {
    margin-left: 9px;
  }
  .form__block .form_block_text .form_block_gif img {
    width: 50px;
    height: 50px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
  }
  .form__block .form_block_text .form_block_gif img:not(:first-child) {
    margin-left: -10px;
  }
  .form__block .form_block_email a {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    text-decoration: none;
    color: #FFFFFF;
  }
  .form__block p {
    margin: 0px;
  }
  .form__block .form_block_wrapper form {
    padding-top: 40px;
  }
  .form__block .form_block_wrapper form .form_line-wrapper {
    position: relative;
  }
  .form__block .form_block_wrapper form .form_line-wrapper:first-child {
    margin-bottom: 83px;
  }
  .form__block .form_block_wrapper form .form_line-wrapper:nth-child(2) {
    margin-bottom: 83px;
  }
  .form__block .form_block_wrapper form .form_line-wrapper input {
    margin-left: 30px;
    margin-right: 15px;
    color: #fff;
    font-size: 18px;
    width: 343px;
    padding-bottom: 10px;
  }
  .form__block .form_block_wrapper form .form_line-wrapper .input_invalid {
    border-bottom: 1px solid #e11d48;
    color: #e11d48;
  }
  .form__block .form_block_wrapper form .form_line-wrapper label {
    margin-left: 30px;
    margin-right: 15px;
    left: 5px;
    top: -15px;
    font-size: 16px;
  }
  .form__block .form_block_wrapper form .form_line-wrapper .label_invalid {
    color: #e11d48;
  }
  .form__block .form_block_wrapper form .form_line-wrapper input:focus ~ label,
.form__block .form_block_wrapper form .form_line-wrapper input:valid ~ label {
    top: -15x;
  }
  .form__block .form_block_wrapper form .form_block_send {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  .form__block .form_block_wrapper form .form_block_send p {
    width: 100%;
    font-size: 14px;
    max-width: 343px;
    margin-left: 30px;
  }
  .form__block .form_block_wrapper form .form_block_send .button_black {
    margin-left: 30px;
    margin-bottom: 20px;
    background: #AE83E4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 64px;
    gap: 10px;
    width: 343px;
    height: 65px;
    color: #FFFFFF;
  }
  .form__block .form_block_wrapper form .form_block_send .button_black:hover {
    cursor: pointer;
  }
  .modal_gdpr .gdpr_consent {
    height: 204px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 578px;
  }
  .modal_gdpr .gdpr_consent__content .content {
    margin-left: 24px;
    font-size: 14px;
  }
  .modal_gdpr .gdpr_consent__confirm button {
    margin-left: 24px;
    width: calc(263px + 30 * (100vw - 330px) / 43);
    height: 65px;
    padding: 24px 64px 24px;
    gap: 10px;
    font-size: 16px;
  }
}/*# sourceMappingURL=media_375.css.map */