@media (max-width: 1024px) {
  .font_24 {
    font-size: calc(12.8px + 5.2 * (100vw - 1440px) / 480);
  }
  .container {
    margin: 0px auto;
    padding: 0px 64px;
  }
  .black-container {
    background: #111;
    height: 256px;
    margin-top: 44px;
  }
  .containerForm {
    margin: 0px auto;
    padding: 0px 64px;
  }
  .hero {
    margin-top: 68px;
  }
  .hero__title .title {
    height: 70px;
    font-size: 64px;
  }
  .hero__title .subtitle {
    text-indent: 20px;
    font-size: 12px;
  }
  .hero__title_second_part {
    display: grid;
    grid-template-columns: 2fr;
  }
  .hero__title_second_part .title_second {
    font-size: 64px;
  }
  .hero__butn {
    display: flex;
  }
  .hero__butn .button_purple {
    margin-left: 50%;
  }
  .about_company__description {
    margin-bottom: 60px;
    margin-top: 21.43px;
  }
  .about_company__description .description {
    font-size: calc(14px + 4 * (100vw - 1440px) / 480);
  }
  .about_company__table {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2px;
  }
  .about_company__table .about_company_table_item {
    border-right: 2px solid #B3B3B3;
  }
  .about_company__table .about_company_table_item:last-child {
    border-right: 0px;
  }
  .about_company__table .about_company_table_item span {
    margin-left: 25%;
  }
  .about_company__table .about_company_table_item p {
    text-align: center;
    color: #222222;
  }
  .portfolios__title .portfolios_show_all {
    font-size: 10px;
  }
  .portfolios__title .portfolios_show_all span {
    margin-left: 7.88px;
  }
  .portfolios__short_disciption {
    margin-top: 17.07px;
  }
  .portfolios__short_disciption .short_disciption {
    font-size: 10px;
  }
  .portfolios__description {
    margin-top: 39.8px;
  }
  .portfolios__description .portfolios_description .portfolios_description_title {
    width: 48%;
    font-size: 18px;
  }
  .portfolios__description .portfolios_description .portfolios_description_title p {
    margin-top: 12.8px;
    font-size: 10px;
  }
  .purple_form span {
    margin-left: calc(180px + 469.6 * (100vw - 768px) / 256);
    margin-top: -100%;
  }
  .purple_form__title .purple_form_title {
    font-size: 35px;
    padding-left: 35px;
    padding-top: 64px;
    padding-bottom: 17px;
  }
  .purple_form__description {
    margin-left: 226px;
    padding-bottom: 24px;
    width: 50%;
  }
  .purple_form__description .purple_form_description {
    font-size: 10px;
  }
  .purple_form__button {
    margin-left: calc(354px + 98.27 * (100vw - 768px) / 256);
    padding-bottom: calc(186px + -120.87 * (100vw - 768px) / 256);
  }
  .purple_form__button .white-button {
    width: 125px;
    height: 44.13px;
    font-size: 10px;
    padding: 17px 35px 17px;
    gap: 6px;
    background: #FFFFFF;
    -webkit-transition: all 0.3s linear;
  }
  .purple_form__button .white-button:hover {
    cursor: pointer;
    color: #FFFFFF;
    background: #222222;
    -webkit-transition: all 0.3s linear;
  }
  .scope__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .scope__title .show_all {
    font-size: 10px;
  }
  .scope__title .show_all span {
    margin-left: 11.2px;
  }
  .scope__description {
    width: 100%;
    margin-bottom: 80px;
    margin-top: 32px;
  }
  .scope__description .description {
    font-size: 10px;
  }
  .scope__table {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2px;
  }
  .scope__table .scope_table_item {
    border-right: 2px solid #B3B3B3;
    border-bottom: 2px solid #B3B3B3;
  }
  .scope__table .scope_table_item:nth-child(4) {
    border-right: 0px;
  }
  .scope__table .scope_table_item:nth-child(5) {
    border-bottom: 0px;
  }
  .scope__table .scope_table_item:nth-child(6) {
    border-bottom: 0px;
  }
  .scope__table .scope_table_item:nth-child(7) {
    border-bottom: 0px;
  }
  .scope__table .scope_table_item:nth-child(8) {
    border-bottom: 0px;
  }
  .scope__table .scope_table_item:last-child {
    border-right: 0px;
  }
  .scope__table .scope_table_item span {
    margin-left: 25%;
  }
  .scope__table .scope_table_item p {
    text-align: center;
    color: #222222;
  }
  .services {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .services__title {
    width: 100%;
  }
  .services__title .description {
    margin-top: 18px;
    font-size: 10px;
    text-indent: 20px;
  }
  .services__context ul li {
    margin-bottom: 30px;
  }
  .services__context ul li .services_context {
    border-bottom: 3.2px solid #AE83E4;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    padding-bottom: 4.27px;
  }
  .services__context ul li .services_context .services_context_link {
    font-size: 25px;
  }
  .dropdown_services_sticky .dropdown_services {
    left: 12.5%;
  }
  .dropdown_services_sticky .dropdown_services__title {
    padding: 32px 51px 0px 22px;
  }
  .dropdown_services_sticky .dropdown_services__info {
    padding: 32px 28px 29px 10px;
  }
  .dropdown_services_sticky .dropdown_services__info ul {
    grid-column-gap: 39px;
  }
  .burger {
    display: none;
  }
  .header__nav .header_nav_list {
    width: 60%;
    margin-left: 5%;
  }
  .contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8%;
  }
  .contacts__map {
    width: 42%;
    height: 302px;
  }
  .contacts__map span {
    margin-top: -15%;
    margin-left: 60%;
  }
  .contacts__context {
    width: 50%;
  }
  .contacts__context .context_description .contacts_description_content {
    margin-top: 17.07px;
    margin-bottom: 8.53px;
    font-size: 10px;
  }
  .team__title .team_show_all {
    font-size: 10px;
  }
  .team__title .team_show_all span {
    margin-left: 11.2px;
  }
  .team__description {
    width: 100%;
    margin-bottom: 42.67px;
    margin-top: 17.6px;
  }
  .team__description .team_description {
    font-size: 10px;
  }
  .team__table .team_table_item {
    margin-bottom: 40px;
  }
  .team__table .team_table_item span {
    align-content: center;
  }
  .team__table .team_table_item a {
    font-size: 25px;
  }
  .team__table .team_table_item a .custom {
    width: 94px;
    height: 94px;
  }
  .team__table .team_table_item :hover {
    cursor: pointer;
  }
  .discuss .discuss_text {
    font-size: 64px;
  }
  .discuss .discuss_text .discuss_underline {
    margin-top: 13px;
    height: 4.27px;
  }
  .discuss :hover {
    cursor: pointer;
  }
}
@media (min-width: 980px) and (max-width: 1024px) {
  .about_company__description {
    margin-bottom: 60px;
    margin-top: 21.43px;
  }
  .about_company__description .description {
    text-indent: 50px;
    font-size: 16px;
  }
  .about_company__table {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2px;
  }
  .about_company__table .about_company_table_item {
    border-right: 2px solid #B3B3B3;
  }
  .about_company__table .about_company_table_item:last-child {
    border-right: 0px;
  }
  .about_company__table .about_company_table_item span {
    margin-left: 25%;
  }
  .about_company__table .about_company_table_item p {
    text-align: center;
    color: #222222;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .about_company__description {
    margin-bottom: 60px;
    margin-top: 21.43px;
  }
  .about_company__description .description {
    text-indent: 20px;
    width: 100%;
    margin-left: 0;
    font-size: 16px;
  }
  .about_company__table {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .margin_bottom_300 {
    margin-bottom: 160px;
  }
  .title_96 {
    font-size: calc(72px + -20 * (100vw - 768px) / 256);
  }
  .header__nav .logo {
    width: calc(110px + -10 * (100vw - 768px) / 256);
    height: calc(36px + -4 * (100vw - 768px) / 256);
    background-size: cover;
  }
  .team__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .team__title .team_show_all {
    font-size: 16px;
  }
  .team__title .team_show_all span {
    margin-left: 12.7px;
  }
  .team__title .team_show_all:hover {
    cursor: pointer;
    color: #AE83E4;
    text-decoration: underline;
    -webkit-transition: all 0.3s linear;
  }
  .team__description {
    width: 100%;
    margin-bottom: 60px;
    margin-top: 24.5px;
  }
  .team__description .team_description {
    font-size: 14px;
  }
  .team__table {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2px;
  }
  .team__table .team_table_item {
    margin-bottom: 40px;
  }
  .team__table .team_table_item span {
    align-content: center;
  }
  .team__table .team_table_item a {
    font-weight: 500;
    font-size: 34.5px;
    line-height: 100%;
    color: #222222;
  }
  .team__table .team_table_item a .custom {
    border-radius: 50%;
    border: 1px solid;
    width: 132px;
    height: 132px;
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
    text-align: center;
    -webkit-transition: all 0.3s linear;
  }
  .team__table .team_table_item a .custom .custom-text {
    margin-top: 35%;
  }
  .team__table .team_table_item a .custom :hover {
    border-radius: 50%;
    cursor: pointer;
  }
  .team__table .team_table_item a :hover {
    background: #222222;
    color: #FFFFFF;
    -webkit-transition: all 0.3s linear;
    cursor: pointer;
  }
  .team__table .team_table_item :hover {
    cursor: pointer;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer__footer_logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer__footer_logo .footer_logo {
    width: 50%;
    margin-bottom: 40px;
  }
  .footer__footer_menu {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer__footer_menu .table_menu {
    width: 33%;
  }
  .footer__footer_menu .table_menu .table_menu_title {
    font-size: 20px;
    margin-bottom: 18px;
  }
  .footer__footer_menu .table_menu .table_menu_item {
    font-size: 16px;
    margin-bottom: 18px;
  }
  .footer__footer_second_line .social {
    width: 100%;
  }
  .footer__footer_second_line .social .social_item {
    font-size: 16px;
  }
  .footer__copyright {
    font-size: 14px;
  }
  .container {
    padding-left: calc(40px + 24 * (100vw - 768px) / 256);
    padding-right: calc(40px + 24 * (100vw - 768px) / 256);
  }
  .containerForm {
    padding-left: calc(40px + 24 * (100vw - 768px) / 256);
    padding-right: calc(40px + 24 * (100vw - 768px) / 256);
  }
  .contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8%;
  }
  .contacts__map {
    width: 42%;
    height: 302.22px;
  }
  .contacts__map span {
    margin-top: calc(-88px + 41 * (100vw - 768px) / 256);
    margin-left: calc(251px + -14.73 * (100vw - 768px) / 256);
  }
  .contacts__context {
    width: 50%;
  }
  .contacts__context .context_description {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contacts__context .context_description .contacts_description_content {
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 10px;
  }
  .blog__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 32px;
  }
  .blog__title .blog_show_all {
    font-size: 13.5px;
  }
  .blog__products {
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 14.25px;
         column-gap: 14.25px;
  }
  .blog__products .blog_products_block {
    width: 100%;
  }
  .blog__products .blog_products_block .blog_products_block_pic {
    width: 410px;
    height: 360px;
  }
  .blog__products .blog_products_block .blog_products_block_pic img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 410px;
    height: 360px;
  }
  .blog__products .blog_products_block .blog_products_block_list .hash_list_block:first-child {
    margin-right: 10px;
  }
  .blog__products .blog_products_block .blog_products_block_list .blog_products_block_list_date {
    font-size: 12px;
  }
  .blog__products .blog_products_block .blog_products_block_list .blog_products_block_list_date .blog__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 32px;
  }
  .blog__products .blog_products_block .blog_products_block_list .blog_products_block_list_date .blog__title .blog_title {
    height: 132px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 120px;
    line-height: 110%;
    color: #222222;
  }
  .blog__products .blog_products_block .blog_products_block_list .blog_products_block_list_date .blog__title .blog_show_all {
    display: flex;
    align-items: flex-end;
    font-weight: 500;
    font-size: 18px;
    line-height: 105%;
    text-transform: uppercase;
    color: #222222;
    padding-bottom: 4px;
    -webkit-transition: all 0.3s linear;
  }
  .blog__products .blog_products_block .blog_products_block_list .blog_products_block_list_date .blog__title .blog_show_all span {
    margin-left: 15px;
  }
  .blog__products .blog_products_block .blog_products_block_list .blog_products_block_list_date .blog__title .blog_show_all:hover {
    cursor: pointer;
    color: #AE83E4;
    text-decoration: underline;
    -webkit-transition: all 0.3s linear;
  }
  .blog__products .blog_products_block .blog_products_block_list .blog_products_block_list_date .blog__products {
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 19px;
         column-gap: 19px;
  }
  .blog__products .blog_products_block .blog_products_block_list .blog_products_block_list_date .blog__products .blog_products_block {
    width: 100%;
  }
  .blog__products .blog_products_block .blog_products_block_list .blog_products_block_list_date .blog__products .blog_products_block .blog_products_block_pic {
    width: 410px;
    height: 360px;
  }
  .blog__products .blog_products_block .blog_products_block_list .blog_products_block_list_date .blog__products .blog_products_block .blog_products_block_pic img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 410px;
    height: 360px;
  }
  .blog__products .blog_products_block .blog_products_block_list .blog_products_block_list_date .blog__products .blog_products_block .blog_products_block_list .hash_list_block:first-child {
    margin-right: 10px;
  }
  .blog__products .blog_products_block .blog_products_block_list .blog_products_block_list_date .blog__products .blog_products_block .blog_products_block_list .blog_products_block_list_date {
    font-size: 12px;
  }
  .blog__products .blog_products_block .blog_products_block_list .blog_products_block_list_date .blog__products .blog_products_block .blog_products_block_title {
    font-size: 18px;
    margin-bottom: 12px;
    margin-top: 18px;
  }
  .blog__products .blog_products_block .blog_products_block_title {
    font-size: 18px;
    margin-bottom: 12px;
    margin-top: 18px;
  }
}
@media (max-width: 940px) {
  .header__nav .header_nav_list {
    display: none;
  }
  .burger {
    display: inline-block;
  }
}/*# sourceMappingURL=media_1024.css.map */