@media (min-width: 374px) and (max-width: 767px) {
  .hero__subtitle .subtitle {
    font-size: 14px;
    margin-bottom: 16px !important;
  }
  .hero__title .title {
    height: 60px !important;
    font-size: 54px !important;
  }
  .hero__title_second_part {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr;
    margin-left: 25%;
    margin-bottom: 40px;
  }
  .hero__title_second_part .title_second {
    height: 60px !important;
    font-size: 54px !important;
  }
  .hero__butn {
    display: flex;
  }
  .hero__butn .button_purple {
    margin-left: 50% !important;
  }
  .purple_form {
    background: #AE83E4;
  }
  .purple_form span {
    margin-left: calc(119px + 61 * (100vw - 373px) / 395);
    margin-top: -100%;
  }
  .purple_form__title .purple_form_title {
    font-size: 56px;
    padding-left: 64px;
    padding-top: 80px;
    padding-bottom: 49px;
  }
  .purple_form__description {
    margin-left: 118px;
    padding-bottom: 28px;
    width: 80%;
  }
  .purple_form__description .purple_form_description {
    font-size: 16px;
    margin-right: 61px;
  }
  .purple_form__button {
    margin-left: calc(10px + 344 * (100vw - 373px) / 395);
    padding-bottom: calc(58px + 128 * (100vw - 373px) / 395);
    margin-left: 50%;
    padding-bottom: 0px;
    padding-bottom: 186px;
  }
  .purple_form__button .white-button {
    display: flex;
    width: 132px;
    font-size: 18px;
    padding: 32px 64px 32px;
    gap: 10px;
  }
  .container {
    padding-left: calc(16px + 24 * (100vw - 373px) / 395);
    padding-right: calc(16px + 24 * (100vw - 373px) / 395);
  }
  .containerForm {
    padding-left: calc(16px + 24 * (100vw - 373px) / 395);
  }
}
@media (max-width: 768px) {
  .margin_bottom_300 {
    margin-bottom: 165px;
  }
  .burger {
    display: inline-block;
  }
  .font_24 {
    font-size: 18px;
  }
  .black-container {
    background: #111;
    height: 240px;
    margin-top: 64px;
  }
  .title_96 {
    font-size: 72px;
  }
  .header__nav .logo {
    width: 100px;
    height: 32px;
    background-size: cover;
  }
  .header__nav .header_nav_list {
    display: none;
  }
  .header__nav .header_phone {
    width: 30%;
  }
  .header__nav .header_phone a {
    font-size: 18px;
  }
  .hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 68px;
  }
  .hero__subtitle {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr;
    grid-column-gap: 1%;
    grid-row-gap: 0.5%;
  }
  .hero__subtitle .subtitle {
    text-indent: 50px;
    display: flex;
    align-items: flex-end;
    width: 100%;
    font-size: 16px;
    margin-bottom: 8px;
  }
  .hero__title {
    width: 100%;
    grid-template-columns: 2fr;
  }
  .hero__title .title {
    width: 100%;
    height: 106px;
    font-size: 96px;
  }
  .hero__title .subtitle {
    display: none;
  }
  .hero__title_second_part {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr;
  }
  .hero__title_second_part .title_second {
    white-space: nowrap;
    margin-left: 0px;
    width: 100%;
    height: 106px;
    font-size: 96px;
  }
  .hero__butn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .hero__butn .button_purple {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 31px 64px 32px;
    gap: 10px;
    width: 232px;
    height: 82px;
    color: #ffffff;
    background: #AE83E4;
    -webkit-transition: all 0.3s linear;
  }
  .hero__butn .button_purple:hover {
    color: #ffffff;
    background: #1A1B1F;
    -webkit-transition: all 0.3s linear;
    cursor: pointer;
  }
  .portfolios__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .portfolios__title .portfolios_show_all {
    font-size: 18px;
  }
  .portfolios__title .portfolios_show_all span {
    margin-left: 21px;
  }
  .portfolios__short_disciption {
    display: none;
  }
  .portfolios__description {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 100%;
  }
  .portfolios__description .portfolios_description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -moz-column-gap: 0%;
         column-gap: 0%;
    width: 100%;
    margin-bottom: 40px;
  }
  .portfolios__description .portfolios_description .portfolios_description_title {
    margin-top: 29px;
    width: 100%;
    font-size: 32px;
    margin-top: 16px;
  }
  .portfolios__description .portfolios_description .portfolios_description_title p {
    display: flex;
    width: 100%;
    margin-top: 16px;
    font-size: 18px;
  }
  .portfolios__description .portfolios_description .portfolios_description_img {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .services {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
  .services__title {
    width: 80%;
  }
  .services__title .description {
    margin-top: 32px;
    position: absolute;
    width: 45%;
    font-size: 16px;
  }
  .services__context {
    display: flex;
    justify-content: flex-end;
  }
  .services__context ul li {
    list-style-type: none;
    margin-bottom: 56px;
  }
  .services__context ul li .services_context {
    border-bottom: 4px solid #AE83E4;
    padding-bottom: 8px;
  }
  .services__context ul li .services_context .services_context_link {
    font-size: 32px;
  }
  .contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8%;
  }
  .contacts__map {
    width: 100%;
    height: 378px;
  }
  .contacts__map span {
    margin-top: -15%;
    margin-left: 60%;
  }
  .contacts__context {
    width: 100%;
  }
  .contacts__context .context_description {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contacts__context .context_description .contacts_description_content {
    margin-bottom: 16px;
    margin-top: 0;
    font-size: 16px;
  }
  .team__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .team__title .team_show_all {
    font-size: 16px;
  }
  .team__title .team_show_all span {
    margin-left: 12.7px;
  }
  .team__title .team_show_all:hover {
    cursor: pointer;
    color: #AE83E4;
    text-decoration: underline;
    -webkit-transition: all 0.3s linear;
  }
  .team__description {
    width: 100%;
    margin-bottom: 60px;
    margin-top: 24.5px;
  }
  .team__description .team_description {
    font-size: 14px;
  }
  .team__table {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2px;
  }
  .team__table .team_table_item {
    margin-bottom: 40px;
  }
  .team__table .team_table_item span {
    align-content: center;
  }
  .team__table .team_table_item a {
    font-weight: 500;
    font-size: 34.5px;
    line-height: 100%;
    color: #222222;
  }
  .team__table .team_table_item a .custom {
    border-radius: 50%;
    border: 1px solid;
    width: 132px;
    height: 132px;
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
    text-align: center;
    -webkit-transition: all 0.3s linear;
  }
  .team__table .team_table_item a .custom .custom-text {
    margin-top: 35%;
  }
  .team__table .team_table_item a .custom :hover {
    border-radius: 50%;
    cursor: pointer;
  }
  .team__table .team_table_item a :hover {
    background: #222222;
    color: #FFFFFF;
    -webkit-transition: all 0.3s linear;
    cursor: pointer;
  }
  .team__table .team_table_item :hover {
    cursor: pointer;
  }
  .scope__title .show_all {
    font-size: 16px;
  }
  .scope__title .show_all span {
    margin-left: 12.7px;
  }
  .scope__description {
    width: 100%;
    margin-bottom: 60px;
    margin-top: 24.5px;
  }
  .scope__description .description {
    font-size: 16px;
  }
  .scope__table {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2px;
  }
  .scope__table .scope_table_item {
    border-right: 2px solid #B3B3B3;
    border-bottom: 0px;
  }
  .scope__table .scope_table_item span {
    margin-left: 25%;
  }
  .scope__table .scope_table_item p {
    text-align: center;
    color: #222222;
  }
  .discuss .discuss_text {
    font-size: 80px;
  }
  .discuss .discuss_text .discuss_underline {
    margin-top: 24px;
    height: 8px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer__footer_logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer__footer_logo .footer_logo {
    width: 50%;
    margin-bottom: 40px;
  }
  .footer__footer_menu {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer__footer_menu .table_menu {
    width: 33%;
  }
  .footer__footer_menu .table_menu .table_menu_title {
    font-size: 20px;
    margin-bottom: 18px;
  }
  .footer__footer_menu .table_menu .table_menu_item {
    font-size: 16px;
    margin-bottom: 18px;
  }
  .footer__footer_second_line .social {
    width: 100%;
  }
  .footer__footer_second_line .social .social_item {
    font-size: 16px;
  }
  .footer__copyright {
    font-size: 14px;
  }
  .swiper .swiper-slide {
    width: 452px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .modal {
    height: 100%;
    color: #FFFFFF;
    width: 100vw;
    background-color: #222222;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
  }
  .modal__content {
    background: #222222;
  }
  .modal__content .form {
    width: 728px;
  }
  .modal__content .form__block {
    width: 100%;
    /*.form_block_modal_button {
        display: absolute;
        left: 90%;
        top: 81.5px;
        width: 34px;
        height: 2px;
        background: #FFFFFF;

        transform: rotate(45deg);
        margin-top: 12px;

        &:hover {
            cursor: pointer;
        }

        &::after {
            content: '';
            display: inline-block;
            width: 34px;
            height: 2px;
            background: #FFFFFF;

            transform: rotate(90deg);
            position: relative;
            top: -15px;
        }
    }*/
  }
  .modal__content .form__block .form_block_text {
    font-size: 16px;
  }
  .modal__content .form__block:first-child {
    margin-top: 40px;
  }
  .modal .form_block_modal_button {
    position: absolute;
    left: 90%;
    top: 81.5px;
    width: 34px;
    height: 2px;
    background: #FFFFFF;
    transform: rotate(45deg);
    margin-top: 12px;
  }
  .modal .form_block_modal_button:hover {
    cursor: pointer;
  }
  .modal .form_block_modal_button::after {
    content: "";
    display: inline-block;
    width: 34px;
    height: 2px;
    background: #FFFFFF;
    transform: rotate(90deg);
    position: relative;
    top: -15px;
  }
  .form {
    background: #222222;
    padding: 98px 125px 98px 98px;
    display: grid;
    grid-template-columns: 2fr;
    background-position: 110px 165px;
  }
  .form__block {
    color: #FFFFFF;
    width: 728px;
  }
  .form__block .form_block_title {
    width: 100%;
    color: #FFFFFF;
    margin-bottom: 88px;
    font-weight: 500;
    font-size: 64px;
    line-height: 105%;
  }
  .form__block .form_block_info {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin: 38px 0px 15px 0px;
    max-width: 507px;
  }
  .form__block .form_block_text {
    display: flex;
    align-items: center;
  }
  .form__block .form_block_text b {
    font-weight: 400;
  }
  .form__block .form_block_text i {
    display: none;
  }
  .form__block .form_block_text p {
    font-size: 18px;
  }
  .form__block .form_block_text .form_block_gif {
    margin-left: 9px;
  }
  .form__block .form_block_text .form_block_gif img {
    width: 50px;
    height: 50px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
  }
  .form__block .form_block_text .form_block_gif img:not(:first-child) {
    margin-left: -10px;
  }
  .form__block .form_block_email a {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    text-decoration: none;
    color: #FFFFFF;
  }
  .form__block p {
    margin: 0px;
  }
  .form__block .form_block_wrapper form {
    padding-top: 40px;
  }
  .form__block .form_block_wrapper form .form_line-wrapper {
    position: relative;
  }
  .form__block .form_block_wrapper form .form_line-wrapper:first-child {
    margin-bottom: 109px;
  }
  .form__block .form_block_wrapper form .form_line-wrapper:nth-child(2) {
    margin-bottom: 109px;
  }
  .form__block .form_block_wrapper form .form_line-wrapper input {
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    border: 0px;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    width: 100%;
    padding-bottom: 10px;
  }
  .form__block .form_block_wrapper form .form_line-wrapper .input_invalid {
    border-bottom: 1px solid #e11d48;
    color: #e11d48;
  }
  .form__block .form_block_wrapper form .form_line-wrapper label {
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: -30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .form__block .form_block_wrapper form .form_line-wrapper .label_invalid {
    color: #e11d48;
  }
  .form__block .form_block_wrapper form .form_line-wrapper input:focus ~ label,
.form__block .form_block_wrapper form .form_line-wrapper input:valid ~ label {
    top: -35x;
  }
  .form__block .form_block_wrapper form .form_block_send {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .form__block .form_block_wrapper form .form_block_send p {
    font-size: 16px;
    line-height: 150%;
    max-width: 347.15px;
    font-weight: 400;
    margin: 0px;
  }
  .form__block .form_block_wrapper form .form_block_send .button_black {
    background: #B3B3B3;
    padding: 31px 64px 32px;
    gap: 10px;
    width: 234.45px;
    height: 82px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 105%;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .form__block .form_block_wrapper form .form_block_send .button_black:hover {
    cursor: pointer;
  }
}/*# sourceMappingURL=media_768.css.map */