.link_for_cookie {
    color: #9C61E8;
    text-decoration: none;
    -webkit-transition: all .1s linear;
    font-weight: 400;
    &:hover {
        color: #1A1B1F;
        -webkit-transition: all .1s linear;
        font-weight: 500;
        cursor: pointer;
    }
}